/* Body */
body{
    font-family: vendor;
    background-color: #1F2123;
}
/* Body */

/* Header */

.header{
    padding-top: 100px;
    display: block;
}

#header-box-01{
    height: 35px;
    width: 200px;
    background-color: black;
    padding: 0.1em;
    margin: auto;
}

#header-box-01 p{
    color: white;
}

#header-box-02{
    margin-top: 15px;
    font-size: 30%;
}

#header-box-02 p{
    color: #9B9B9B;
}

#header-box-03{
    margin: 0 auto;
    justify-content: center;
}

#header-box-03 a{
    color: white;
    text-decoration: none;
}

/* Document */



/* Document */







/* Page */
.pages a{
    text-decoration: none;
    padding: 0 14px;
    height: 36px;
    border-bottom: .1rem solid #64a19d;
            
    display: inline-block;
    text-align: center;
    line-height: 36px;
    font-size: 14px;
            
    margin: 0 5px;
}

.pages{
    position: fixed;
    margin-top: 255px;
    font-size: 0;
    font-family: vendor;
}
/* Page */

/* Footer */
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}